<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>検索画面</title>
</head>
<body>
    <p>検索画面</p>
    <form th:action="@{/products/result}" method="get">

        <select id="category">
            <option value="00">カテゴリー選択</option>
            <option th:each="category : ${categoryList}"
                th:value="*{category.id}" th:text="*{category.category}"></option>
        </select>
        <select id="products" name="proName">
            <option value="00">商品選択</option>
            <option th:each="products : ${productsList}"
                th:value="*{products.name}" th:date-val="*{products.category.id}"
                th:text="*{products.name}"></option>
        </select><br>

        <select id="category">
            <option value="00">カテゴリー選択</option>
            <option th:each="category : ${categoryList}"
                th:value="*{category.id}" th:text="*{category.category}"></option>
        </select>
        <select id="products" name="proName">
            <option value="00">商品選択</option>
            <option th:each="products : ${productsList}"
                th:value="*{products.name}" th:date-val="*{products.category.id}"
                th:text="*{products.name}"></option>
        </select><br>

        <select id="category">
            <option value="00">カテゴリー選択</option>
            <option th:each="category : ${categoryList}"
                th:value="*{category.id}" th:text="*{category.category}"></option>
        </select>
        <select id="products" name="proName">
            <option value="00">商品選択</option>
            <option th:each="products : ${productsList}"
                th:value="*{products.name}" th:date-val="*{products.category.id}"
                th:text="*{products.name}"></option>
        </select><br>

        <select id="category">
            <option value="00">カテゴリー選択</option>
            <option th:each="category : ${categoryList}"
                th:value="*{category.id}" th:text="*{category.category}"></option>
        </select>
        <select id="products" name="proName">
            <option value="00">商品選択</option>
            <option th:each="products : ${productsList}"
                th:value="*{products.name}" th:date-val="*{products.category.id}"
                th:text="*{products.name}"></option>
        </select><br>

        <input type="submit" value="検索">
    </form>

        <script>
            var $products = $('select[id="products"]');
            $('select[id="category"]').change(function() {
                var val1 = $(this).val();
                $products.find('option').each(function() {
                    var val2 = $(this).data('val');
                    if (val1 === val2) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                })
            })
        </script>

</body>
</html>