<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>


<body>
    <p>
        <span th:text="${message}"></span>!!!
    </p>

    <p>
        <a th:href="@{/index}">一覧画面</a>
    </p>

    <p>
        <a th:href="@{/products/list}">商品一覧画面</a>
    </p>

    <p>
        <a th:href="@{/products/index}">商品検索</a>
    </p>

    <p>
        <a th:href="@{/category/list}">カテゴリー一覧画面</a>
    </p>

    <p>
        <a th:href="@{/users/list}">ユーザー一覧画面</a>
    </p>

    <p>
        <a th:href="@{/login}">ログイン画面</a>
    </p>

</body>

</html>