<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>

    ログインする時に使用する画面

    <h2>ログイン</h2>
    <form method="POST"
        action="<c:url value='/?action=${action}&command=${command}' />">

        <label for="${AttributeConst.EMP_CODE.getValue()}">ID</label><br />
        <input type="text" name="${AttributeConst.EMP_CODE.getValue()}"
            id="${AttributeConst.EMP_CODE.getValue()}" value="${code}" /> <br /><br />

        <label for="${AttributeConst.EMP_PASS.getValue()}">パスワード</label><br />
        <input type="password" name="${AttributeConst.EMP_PASS.getValue()}"
            id="${AttributeConst.EMP_PASS.getValue()}" /> <br /> <br />

            <input
            type="hidden" name="${AttributeConst.TOKEN.getValue()}"
            value="${_token}" />

        <button type="submit">ログイン</button>
    </form>

</body>
</html>